<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxjqr.multiple_modules.core.ref.mapper.AreaMapper">
    <select id="getAreas" resultType="com.xxjqr.multiple_modules.core.ref.po.Area">
        SELECT * from t_area;
    </select>
</mapper>