<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!-- load css -->
    <link rel="stylesheet" type="text/css" th:href="@{css/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{plugin/layui/css/layui.css}" media="all" />

    <style type="text/css">
        .opr_icon{
            margin: 0 8px;
        }
        .opr_icon:hover{
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div style="padding: 20px">
        <table class="layui-table" lay-size="sm">
            <colgroup>
                <col width="1" />
                <col width="100" />
                <col />
                <col />
                <col />
                <col />
                <col />
                <col width="150" />
            </colgroup>
            <thead>
                <tr>
            <th><i class="iconfont icon-gouxuanqian icon" select="false" id="all_select"></i></th>
            <th>昵称</th>
            <th>加入时间</th>
            <th>签名</th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>操作</th>
        </tr>
            </thead>
            <tbody>
                <tr>
            <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>
                <i class="iconfont icon-xiangqing opr_icon"></i>
                <i class="iconfont icon-bianji opr_icon"></i>
                <i class="iconfont icon-dustbin opr_icon"></i>
            </td>
        </tr>
                <tr>
            <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
            <td>a</td>
            <td>b</td>
            <td>c</td>
            <td>查看 编辑 删除</td>
        </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>
                <tr>
                    <td><i class="iconfont icon-gouxuanqian" select="false"></i></td>
                    <td>许闲心</td>
                    <td>2016-11-28</td>
                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野</td>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>查看 编辑 删除</td>
                </tr>

            </tbody>
        </table>

        <div class="layui-box layui-laypage layui-laypage-default" id="my_page"></div>
    </div>

    <!--引入js-->
    <script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{plugin/layui/layui.js}" charset="utf-8"></script>

    <script type="text/javascript">

        //全选事件
        $("#all_select").on('click',function () {
            $("[select]").each(function () {
                $(this).attr('class', ($(this).attr('select') == "true") ? 'iconfont icon-gouxuanqian icon' : 'iconfont icon-kuangxuan icon');
                $(this).attr('select', ($(this).attr('select') == "true") ? 'false' : 'true');
            });
        });

        layui.use(['element','laypage'], function(){
            var laypage = layui.laypage;
            laypage.render({
                elem: 'my_page'
                ,count: 70 //数据总数，从服务端得到
                ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
                ,jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if(!first){
                        //do something
                    }
                }
            });
        });
    </script>
</body>
</html>